/* styles for the header section */

nav {
  background-color: $brand-color-4;
  height: 80px;

  .font-2 {
    font-family: $brand-font-1;
  }

}

.myImage {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: 50% 50%;
}