/* styles for the main section */

.centerAlign {
  margin: 0 auto;
}

.square50 {
  width: 15em;

  img {
    margin-top: 10px;
    width: 14em;
    height: 13em;
    object-fit: cover;
    object-position: 60% 50%;
  }

}

.articleDivision {
  margin: 50px auto;
  border-bottom: 1.5px dotted $brand-color-4;
}

main {
  h4 {
    color: $brand-color-6;
  }

  h5 {
    color: $brand-color-4;
  }
}