/* here is the list of the variables */

  /* color palette */
$brand-color-1: #fff;
$brand-color-2: #000;
$brand-color-3: #333;
$brand-color-4: #C4A69D;
$brand-color-5: #465C69;
$brand-color-6: #363457;
$brand-color-7: #98A886;


  /* fonts varibales */
$brand-font-1: 'Codystar', cursive, sans-serif;
$brand-font-2: 'Raleway', sans-serif;