@import 'variables';
@import 'header';
@import 'footer';
@import 'main';


body {
  font-family: $brand-font-2;

  h2 {
    font-family: $brand-font-1;
    color: $brand-color-1;
    background-color: $brand-color-6;
    height: 60px;
    padding-top: 8px;
    margin-bottom: 20px;
  }

}


/* styles giving classes specific font families */
.font-1 {
  font-family: $brand-font-1;
}

.font-2 {
  font-family: $brand-font-2;
}


/* overwriting the default bootstrap font colors */
.fontColor-1 {
  color: $brand-color-1;
}

.fontColor-2 {
  $brand-color-2: $brand-color-2;
}

.fontColor-4 {
  $brand-color-4: $brand-color-4;
}

.fontColor-6 {
  $brand-color-6: $brand-color-6;
}


/* overwriting the default bootstrap background colors */
.color-1 {
  background-color: $brand-color-1;
} 

.color-2 {
  background-color: $brand-color-2;
} 

.color-4 {
  background-color: $brand-color-4;
} 

.color-6 {
  background-color: $brand-color-6;
} 
